In [8]:
# wap ask the user enter a basic_salary
# wap ask the user enter DA amount
# wap ask the user enter HRA amount 
#calculate total pay = basic_salary+DA+HRA


# step 1 :

basic_salary=eval(input("enter a basic salary"))
DA=eval(input("enter a DA salary"))
HRA=eval(input("enter a HRA salary"))
total_pay=basic_salary+DA+HRA

enter a basic salary50000
enter a DA salary2000
enter a HRA salary10000

#WAP AS THE USER ENTER THY SALARY

# ask the user tax percentage 
# calculate how much tax

In [13]:
salary=eval(input("enter salary"))

enter salary50000

In [14]:
tax_percentage = input("enter the percentage")

enter the percentage4000

In [19]:
tax_payable=salary+tax_percentage

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
# wap ask the user get a ramdom value between 1 to 100
# perform thr square of the number

# package name: random
# method name: randint

In [25]:
import random
random.randint(1,100)

60

In [30]:
import random
n=random.randint(1,100)
square=n*n
print("n=",n)
print("square=",square)

n= 37
square= 1369

In [41]:
import random
number=random.randint(1,100)
square=number*number
print("the square of {} is {}".format (number,square))

the square of 13 is 169

# wap ask the user enter a distance
# ask the user enter a rate per distance 
# calculate total charge

In [47]:
distance = int(input("enter the distance"))
rate = int(input("enter rate per km:"))
charge=distance+rate
print("for {} km the charge is 300 rs".format(distance,charge))

enter the distance5
enter rate per km:80
for 5 km the charge is 300 rs

# ask the user enter total bill in dollars : 100
# manager : the dollars are not accepted
# user: what will accepted
# manager: only indian rupees
# ask the user enter one dollar is equal to how many rupees: 80
# total bill= 100*80
# manager : thank you!

In [55]:
bill=eval(input("enter the total bill in dollars"))
conversion_rate=eval(input("one dollar equal to:"))
total_bill_inr= bill*conversion_rate
print(total_bill_inr)

enter the total bill in dollars90
one dollar equal to:80
7200

In [57]:
bill= eval(input("manager:enter the total bill in dollars:"))
input("manager response:")
input("user response:")

manager:enter the total bill in dollars:7
manager response:dollars are not accepted
user response:ok

'ok'

In [3]:
# story between father and son and son wants to study

input("father response:")
input("son response:")
input("father response:")
input("son response:")
input("father response:")
input("son response:")
input("father response:")
int(input("son response:"))
input("father response:")
number_of_sem = int(input("son response:"))
total_pay= fee*number_of_sem
print(total_pay)

father response:what do you want do
son response:I want to do some course
father response:which course .do you decided
son response:yes, dad I'm interested in data science
father response:. which institution do you want to join son response:narest IT
son response:narest it
father response:what about fee structure
son response:30000
father response:response:from which day your going to institution
son response:after few couple of days

ValueError: invalid literal for int() with base 10: 'after few couple of days'