# Dictionary

In [50]:
list1=['Ram','Raheem','Robert']

list2=[25,30,35]

In [ ]:
'Ram age is 25'
'Raheem age is 30'
'Robert age is 35'

In [3]:
for i,j in zip (list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [ ]:
# {key:cvalue}

In [6]:
d1={'Ram':25,
'Raheem':30,
'Robert':35}

d1

#keys=Ram,Raheem,Robert
#values=25,30,35

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [8]:
d1={25:'Ram',30:'Raheem',35:'Robert'}
d1

{25: 'Ram', 30: 'Raheem', 35: 'Robert'}

In [10]:
d3={'even':[2,4,6],'odd':[3,5,7]}
d3

{'even': [2, 4, 6], 'odd': [3, 5, 7]}

In [11]:
d4={(2,4,6):'even',
    (3,5,7):'odd'}
d4

{(2, 4, 6): 'even', (3, 5, 7): 'odd'}

- Dictionary is a key :value pair
    
- at values position you can take any data type

- at keys position list and dictionary will fail

- duplicates are not allow

- if you will update a key value , latest value it will take

In [12]:
a,d=(1,2)
a

1

In [15]:
d1={'A=2','B=2'}
d1

{'A=2', 'B=2'}

In [16]:
d1={'A=1','B=3','A=6'}
d1

{'A=1', 'A=6', 'B=3'}

### type

In [18]:
type(d1)

set

- max value and min value based on key only
- if keys has numeric then we can do sum

In [20]:
d1={'Ram':25,
   'Rahemm':30,
   'robert':35}
d1

{'Ram': 25, 'Rahemm': 30, 'robert': 35}

In [21]:
min(d1)   #based on ord()

'Rahemm'

In [22]:
len(d1)

3

In [23]:
max(d1)     #based on ord()

'robert'

In [24]:
d2={100:2,200:3}
sum(d2)                   # only keys can added

300

In [25]:
d1={'Ram':25,
'Raheem':30,
'Robert':35}

# 'Ram ':25 in d1 fails
# 25 in d1 fails

'Ram' in d1

True

In [26]:
for i in d1:
    print(i)

Ram
Raheem
Robert

In [ ]:
str1='apple'
'#' in

### index

In [27]:
l1=[10,20,30,40]
l1[0]

str1='apple'
str1[0]

'a'

In [29]:
d1={'Ram':25,
'Raheem':30,
'Robert':35}

d1['Ram']

25

In [30]:
for i in d1:
    print(i)

Ram
Raheem
Robert

In [31]:
for key in d1:
    print('The age of {} is {}'.format(key,d1[key]))

The age of Ram is 25
The age of Raheem is 30
The age of Robert is 35

In [33]:
for key in d1:
    print(key,d1[key])

Ram 25
Raheem 30
Robert 35

In [34]:
for i in range(len(l1)):
    print(i,l1[i])

0 10
1 20
2 30
3 40

### creating a empty dictionary and update

In [35]:
s=''
for i in 'apple':
    s=s+i
    
print(s)

apple

In [37]:
l=[]
for i in range(10):
    l.append(i)
    
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
d1={}
d1['fruite'] ='Apple'
d1

{'fruite': 'Apple'}

In [46]:
# wap create a database name= omkar companty =wipro
d1={}
d1['fiest name'] = 'Lokesh'
d1['compny name'] ='Wipro'
d1['native place']='Hyderabad'
d1['state']= 'Telangana'
d1

{'fiest name': 'Lokesh',
 'compny name': 'Wipro',
 'native place': 'Hyderabad',
 'state': 'Telangana'}

In [49]:
# wap create dictionary with two lists
# names ='Ram','Raheem','Robert'
# ages=25,30,35

d1={}
d1['names']='Ram','Raheem','Robert'
d1['ages']=25,30,35
d1

{'names': ('Ram', 'Raheem', 'Robert'), 'ages': (25, 30, 35)}

In [50]:
names='Ram','Raheem','Robert'
age=[25,30,35]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [65]:
dict1={}
for i in range(len(names)):
    dict1[names[i]]=age[i]
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [61]:
dict1={names[i]:age[i] for i in range(len(names))}
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [62]:
dict1={names:age for names,age in zip(names,age)}
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [107]:
# wap take 5 random number and create dictionay with even and odd

dict1={}
even=[]
odd=[]

import random
for i in range(5):
    randomm = random.randint(1,20)
    if randomm%2==0:
        even.append(randomm)
        dict1['even']=even
    else:
        odd.append(randomm)
        dict1['odd']=odd

dict1

{'even': [12, 10, 14], 'odd': [7, 15]}

In [1]:
import os

In [3]:
os.getcwd()

'C:\\Users\\Lokesh\\OneDrive\\Documents\\Data Science'

In [14]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

## dictionary methods

dir({})

### $ items-keys-values$

In [6]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [11]:
#items
items=d1.items()
items

dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])

In [13]:
type(items)

dict_items

In [14]:
# keys
keys=d1.keys()
keys

dict_keys(['Ram', 'Raheem', 'Robert'])

In [15]:
type(keys)

dict_keys

In [16]:
# values
values=d1.values()
values

dict_values([25, 30, 35])

In [17]:
type(values)

dict_values

In [18]:
l1=[25,30,35]
l1.append(400)
l1

[25, 30, 35, 400]

In [23]:
values           # i want to convert into a list
values_list=list(values)     # then you apply list method
values_list

[25, 30, 35]

In [24]:
keys_list=list(keys)
keys_list

['Ram', 'Raheem', 'Robert']

In [25]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}

keys=list(d1.keys())
values=list(d1.values())

In [26]:
keys,values

(['Ram', 'Raheem', 'Robert'], [25, 30, 35])

In [27]:
d1={}
d1['names']='Ram','Raheem','Robert'
d1['ages']=25,30,35
d1

{'names': ('Ram', 'Raheem', 'Robert'), 'ages': (25, 30, 35)}

In [30]:
{i:j for i,j in zip(keys,values)}

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [32]:
d1={}
for i in range(len(keys)):
    d1[keys[i]]=values[i]          # d1[keys[0]]=values[0]
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [33]:
dict(zip(keys,values))

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [39]:
s1='virat.kholi@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'

s=s1.split(',')
l=list(s)
d=dict()
for i in l:
    d[i.split('@')[0]]=i.split('@')[1]
print(d)

{'virat.kholi': 'blr.com', 'Rohit.sharma': 'mumbai.com', 'kl.rahul': 'lucknow.com'}

In [41]:
s1.split(',')

['virat.kholi@blr.com', 'Rohit.sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [58]:
str1='virat.kholi@blr.com'

d1={}

f_name=[str1[:str1.find('.')] for str1 in s1.split(',')]

s_name=[str1[str1.find('.')+1:str1.find('@')] for str1 in s1.split(',')]

c_name=[str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)] for str1 in s1.split(',')]
f_name,s_name,c_name

d1['first_name']=f_name
d1['second_name']=s_name
d1['company_name']=c_name

d1

{'first_name': ['virat', 'Rohit', 'kl'],
 'second_name': ['kholi', 'sharma', 'rahul'],
 'company_name': ['blr', 'mumbai', 'lucknow']}

### $words-frequency$

In [75]:
str1='can can you canner can you able to can canner'

d1={}
l1=str1.split()

for i in l1:
    d1[i]=l1.count(i)
    
d1

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [83]:
keys=list(d1.keys())

In [82]:
values=list(d1.values())

In [84]:
keys,values

(['can', 'you', 'canner', 'able', 'to'], [4, 2, 2, 1, 1])

In [86]:
i=max(values)

In [87]:
values.index(i)

0

In [88]:
keys[0]

'can'

In [89]:
keys[values.index(max(values))]

'can'

In [101]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

#o/p={'a':70,'b':130,'c':240}
for i in d2:
        d1[i]+=d2[i]
            
d1

{'a': 70, 'b': 130, 'c': 240}

In [98]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

d3={}
if len(d1)==len(d2):
    for i in d1:
        d3[i]=d1[i]+d2[i]            # d3[a]=d1[a]+d2[a]
        
d3

{'a': 70, 'b': 130, 'c': 240}

In [109]:
d1={'a':20,'b':300,'c':400}
d2={'a':500,'b':100,'c':200}

for i in d1:
    d1[i]=d1[i]+d2[i]

d1

{'a': 520, 'b': 400, 'c': 600}

In [112]:
d1={'a':20,'b':300,'c':400,'d':100}
d2={'a':500,'b':100,'c':200}

for i in range(min(len(d1),len(d2))):
    d1[list(d1.keys())[i]]+=d2[list(d2.keys())[i]]
d1

{'a': 520, 'b': 400, 'c': 600, 'd': 100}

### $clear-copy$

In [11]:
# take one dictionary
# take second dict
# copy first dict in second
# clear the first
# and print both

d1={'A':20,'B':30,'C':30}
d2=d1.copy()
d1.clear()
print(d1)
print(d2)

{}
{'A': 20, 'B': 30, 'C': 30}

### $pop-popitem-del$


- pop will removes specify key
- return items
- Popitem it removes last key
- del is a keyword
- it delete entare keyword

In [15]:
d2

{'A': 20, 'B': 30, 'C': 30}

In [16]:
d2.pop('A')      # pop removes specify key what we enter

20

In [17]:
d2

{'B': 30, 'C': 30}

In [19]:
d2.popitem()          # popitem direct removes the last key

('C', 30)

In [20]:
d2

{'B': 30}

In [21]:
d1={'A':10,'B':30}

In [22]:
del(d1)          # del method used to delete entire keyword

In [24]:
d1                # we del the d1

NameError: name 'd1' is not defined

### $fromkeys-get$

In [28]:
d1={'a':10,'b':20,'c':30,'d':50}

In [29]:
d1.get('d')

50

In [34]:
d1.get('a')

10

- get
- how many ways we can do
- what output it is returning
- what is the difference
- we can access the values by providing key as index and key in get method
- but if the key is not present in dictionary, key as index will give key error
- get method will not return anything and no error

In [ ]:
# fromkeys
# the key is separates the each letter in keys

In [36]:
d2=d1.fromkeys('Ram')
d2

{'R': None, 'a': None, 'm': None}

In [38]:
d2=d1.fromkeys('Ram',20)
d2

{'R': 20, 'a': 20, 'm': 20}

### $setdefault$

In [39]:
# returns value of keys
# if key is not present returns default

In [43]:
d1={}
d1.setdefault('nareshit','Ds')
d1.setdefault('city')
d1

{'nareshit': 'Ds', 'city': None}

In [46]:
d1={}
d1.setdefault('nareshit','Ds')
d1.setdefault('city')
d1.setdefault('narestit',['ds','devops'])
d1['nareshit']=['ds','devops']
d1

{'nareshit': ['ds', 'devops'], 'city': None, 'narestit': ['ds', 'devops']}

### $update$

- it inserts the particular items to the dictionary

In [48]:
d1={'a':1,'b':8,'c':5}
d2={'b':4,'d':9}
d1.update(d2)
print(d1)

{'a': 1, 'b': 4, 'c': 5, 'd': 9}

In [49]:
d1={'a':1,'b':8,'c':5}
d2={'b':4,'d':9}
d2.update(d1)
print(d2)

{'b': 8, 'd': 9, 'a': 1, 'c': 5}