# $List$

- list is an array of elements
- list elements heterogeneous (different) data types are allowed
- duplicates are allowed
- list in list also works
- matrix division is not possible

In [1]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [3]:
list2=['A','B','C','D']
list2

['A', 'B', 'C', 'D']

In [4]:
list3=[1,2,3,4,'A','B','C','D']
list3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [5]:
list4=[1,'Apple',10,5,(10+20),True]
list4

[1, 'Apple', 10, 5, 30, True]

In [6]:
list5=[180,180,180]
list5

[180, 180, 180]

In [7]:
list6=[(1,2,3,4)]
list6

[(1, 2, 3, 4)]

### type

In [8]:
type(list4)

list

In [14]:

# max

print(max(list1))  # 4
print(max(list2))  # d ==== ascii ord
print(max(list3))  # error we cant compare different datad types

4
D

TypeError: '>' not supported between instances of 'str' and 'int'

In [15]:
# min

print(min(list1))  # 4
print(min(list2))  # A ==== ascii ord
print(min(list3))  # error we cant compare different datad types

1
A

TypeError: '<' not supported between instances of 'str' and 'int'

In [17]:
# len

print(len(list1))  
print(len(list2))  
print(len(list3))

4
4
8

### sum

In [18]:
print(list2)
print(sum(list2))   ================== # only numbers get o/p

['A', 'B', 'C', 'D']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
print(list1)
print(sum(list1))

[1, 2, 3, 4]
10

### in operator

In [24]:
1 in list1
2 in list2
3 in list3
4 in list4

1 in list1

# can i iterate through for loop

True

In [25]:
list1

[1, 2, 3, 4]

In [26]:
list2

['A', 'B', 'C', 'D']

### concatination

In [27]:
print(list1+list2)
print(list2+list1)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [28]:
print(list4+list5)

[1, 'Apple', 10, 5, 30, True, 180, 180, 180]

In [29]:
new_list=list1+list2

In [30]:
new_list

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [32]:
list1*3   # multiply

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
list1-list2  # fail
list1*list2  # fail
list1/list2  # fail

#'a'/'b'

### index

- python index starts with zero

In [35]:
list3[0]

1

In [37]:
list3[0],list3[1],list3[2],list3[3]

# list3[i]
# i=0 1 2 3

(1, 2, 3, 4)

In [38]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [39]:
for i in range(8):
    print(i,list3[i])

0 1
1 2
2 3
3 4
4 A
5 B
6 C
7 D

In [40]:
for i in range(len(list3)):
    print(i,list3[i])

0 1
1 2
2 3
3 4
4 A
5 B
6 C
7 D

In [42]:
list2[-1]

-8 -7 -6 -5 -4 -3 -2 -1
1  2   3  4  A  B  C  D
0  1   2  3  4  5  6  7

'D'

In [48]:
for i in range(len(list1)):
    print("positive index is {} and negative index is {} for an element {}".format(i,i-len(list1),list[i] ))

positive index is 0 and negative index is -4 for an element list[0]
positive index is 1 and negative index is -3 for an element list[1]
positive index is 2 and negative index is -2 for an element list[2]
positive index is 3 and negative index is -1 for an element list[3]

In [50]:
# wap find the elements which are having len<3
# list=['Apple','Ball','cat','Ab','cd','ef']

list9=['Apple','Ball','cat','Ab','cd','ef']

for i in range(len(list9)):
    if len(list9[i])<3:
        print(list9[i])

Ab
cd
ef

In [53]:
list9=['Apple','Ball','cat','Ab','cd','ef']

for i in range(len(list9)):
    if len(list9[i])<5:
        print(list9[i])

Ball
cat
Ab
cd
ef

In [56]:
# wap which at=re having #
# list9=['Apple','Ball','cat','Ab','cd','ef']

list1=['App#e','Ba#l','c#t','Ab','cd','ef']
for i in range(len(list1)):
    if '#' in (list1[i]):
        print(list1[i])

App#e
Ba#l
c#t

In [63]:
count=0
list1=['App&e','Ba&l','c&t','Ab','cd','ef']
for i in range(len(list1)):
    if '&' in (list1[i]):
        count=count+1
        
print(count)

3

In [66]:
# list1=[1,2,3,'Apple','Ball']
# retrive the ball using index

list1=[1,2,3,['Apple','Ball']]
list1[3][1]

'Ball'

In [69]:
list1=[[[[[[['cherry']]]]]]]
list1[0][0][0][0][0][0][0]

'cherry'

In [78]:
list1=[[[[['apple',[['cherry']]]]]]]
list1[0][0][0][0]

['apple', [['cherry']]]

In [102]:
list1=[[[['A','B',[[[1,2,3,['car']]]]]]]]
list1[0][0][0][2][0][0][3][0]

'car'

### muitable

In [105]:
list1=['A','B','C']
list1[0]=100
list1

[100, 'B', 'C']

In [106]:
list1=['A','B','C']
list1[1]=100
list1

['A', 100, 'C']

In [107]:
list1=['A','B','C']
list1[2]=100
list1

['A', 'B', 100]

### slice

In [109]:
list1=[10,20,30,40,50,'P','Y','T','H','O','N','a','b','c','D']
list1[2:14:3]    #p
list1[2:14:-3]   #np
list1[2:-14:3]
list1[2:-14:-3]
list1[-2:14:3]
list1[-2:-14:3]
list1[-2:-14:-3]
list1[-2:14:-3]

[]

In [110]:
list1[2:14:3]

[30, 'P', 'H', 'a']

In [111]:
list1[2:14:-3]

[]

In [112]:
list1[2:-14:3]

[]

In [113]:
list1[2:-14:-3]

[30]

In [114]:
list1[-2:14:3]

['c']

In [115]:
list1[-2:-14:3]

[]

In [117]:
list1[-2:-14:-3]

['c', 'N', 'T', 50]

In [118]:
list1[-2:14:-3]

[]

## $list methods$

In [121]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### clear-copy

In [120]:
list1=[1,2,3,4]

# i want copy these elements in list2

list2=list1.copy()

list1.clear()

print('list1:',list1)
print('list2:',list2)

list1: []
list2: [1, 2, 3, 4]

In [123]:
list1=['L','O','K','E','S','H']

list2=list1.copy()
list1.clear()

print('list1:',list1)
print('list2:',list2)

list1: []
list2: ['L', 'O', 'K', 'E', 'S', 'H']

In [128]:
list1=['12345']
list2=list1.copy()
print("list2:",list1)
list1.clear()
print("list1:",list1)

list2: ['12345']
list1: []

#### append

In [2]:
# add (something ) to the end of a written document

list1=[100,200]

# [100,200,300]

list1.append(300)
list1

[100, 200, 300]

In [4]:
list1=[]
list1.append(100)
list1.append(200)
list1.append(300)
list1

[100, 200, 300]

In [5]:
# error

list1.append(100,200)
list1                    ============= # it takes only one arguments

TypeError: list.append() takes exactly one argument (2 given)

In [6]:
list1.append([100,200])
list1

[100, 200, 300, [100, 200]]

In [7]:
list1.append('apple')
list1

[100, 200, 300, [100, 200], 'apple']

In [10]:
# input list=[1,2,3,4,5]
# create a new list=[1,4,9,16,25]

# write niormal python code
list1=[1,2,3,4,5]
for i in list1:
    print(i*i)

1
4
9
16
25

In [12]:
# i dont want print the values, i want to save vlues in list

list1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)
    
output

[1, 4, 9, 16, 25]

In [15]:
list2=['hyd','bengaluru','delhi']
# out put =['Hyd','Bangaluru','Delhi']
output=[]
for i in list2:
    output.append(i.capitalize())
    
output

['Hyd', 'Bengaluru', 'Delhi']

In [24]:
list1=['nareshit']
output=[]
for i in list1:
    output.append(i.capitalize())
output

['Nareshit']

In [40]:
list3=['h#d','beng#luru','delhi']
# output=['h#d','beng#luru']

output=[]
for i in list3:
    if '#' in i:
        output.append(i)
output

['h#d', 'beng#luru']

### list comprehenshion

In [44]:
# code in a single line=====speed the process

list1=[1,2,3,4,5]    #input


# step1: initilize the list output[]
# step2: 
# step3:

output1=[i*i for i in list1]
output1

[1, 4, 9, 16, 25]

In [43]:
list2=['hyd','bengaluru','delhi']
# out put =['Hyd','Bangaluru','Delhi']
    
output1=[i.capitalize() for i in list2]
output1

['Hyd', 'Bengaluru', 'Delhi']

In [56]:
# create thr list of 20 numbers from 1 to 20

#========method1========

#for i in range(1,21):
 #   print(i)
    
#=========method2 ======   

numbers=[]
for i in range(1,21):
    numbers.append(i)
numbers

#======method3=========

numbers1=[i for i in range(1,21)]
numbers1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### $list-comprehhension-with-if-condition$

In [58]:
list3=['h#d','beng#luru','delhi']
# output=['h#d','beng#luru']

output=[]
for i in list3:
    if '#' in i:
        output.append(i)
output

#[<o/p> <forloop> <if_condition>]

output1=[i for i in list3 if '#' in i]
output1

['h#d', 'beng#luru']

In [72]:
list4=['abcd','abc','ac','a']
# elements less thsn 3
# ['ac','a']

for i in list4:
    if list4 == '3':
        print(i)

In [70]:
list1=[1,2,3,4,5,6]

output=[]
for i in list1:
    if i%2==0:
        output.append("even:{}".format(i))
    else:
        output.append("odd:{}".format(i))
output

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [77]:
# [<if_output> <if_condition> else <else_output> <for loop>]


output=["even:{}".format(i) if i%2==0 else "odd:{}".format(i) for i in list1]
output

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

### $count$

In [79]:
list1=[1,2,3,'A','B','B','B','C']
list1.count("B")

3

In [82]:
count=0
for i in list1:
    if i=='B':
        count=count+1
print(count)

3

### $Extend$

In [83]:
list1=['A','B','C']
list2=[1,2,3]

list1.extend(list2)
list1

# here the list1 will be updated with list2 values

['A', 'B', 'C', 1, 2, 3]

In [84]:
list1=['A','B','C']
list2=[1,2,3]
list3=list1+list2
list3

# by using concatination method

['A', 'B', 'C', 1, 2, 3]

### $append--vs--extend--vs--concatination$

- append will add the elements atb last , that elements can be any type
 - list1=[1,2,3]
 - list2=['a','b','c']

### $iterator$

- iterator word======loop
- the elements we can print using for loop
- string='python' we can print each letyters using for loop
- list1=[1,2,3]  we can print each element using for loop

In [95]:
val=reversed('python')
val

In [96]:
for i in val:
    print(i)

n
o
h
t
y
p

### pop-remove-del

In [97]:
list1=[1,2,3,4,5,'python']

In [98]:
list1.pop()

# in side brackets defaults is there index=-1
# -1 means last value
# if you not provide any values
# it will remove last value
# if i provide any index it will remove the element

# it also returning ,which element is removing

'python'

In [99]:
list1=[100,200,100,300]    ====# duplicates are allowed
list1.remove(100)          =====# first occurance will gone
list1                      =====# it will not reture any values

[200, 100, 300]

In [103]:
list1=[100,200,100,300]
del list1[2]
list1

[100, 200, 300]

### $index-insert$

In [113]:
list1=('python')
list1.index('o')

4

In [109]:
list2=(1,2,3,4,5,6)
list2.index(4)

3

In [121]:
list1=[10,20,30,40,50]            # we need to provide index and value
list1.insert(3,100)
list1

[10, 20, 30, 100, 40, 50]

In [139]:
list1=['a','b','c','d']
list1.insert(1,'f')
list1

['a', 'f', 'b', 'c', 'd']

### $Reverse-Sort$

In [144]:
list1=[10,20,30,90,70,40]
list1

[10, 20, 30, 90, 70, 40]

In [145]:
list1.reverse()
list1

[40, 70, 90, 30, 20, 10]

In [146]:
list1.sort()    # ascending order
list1

[10, 20, 30, 40, 70, 90]

In [150]:
list1=['Ram','Robert','Raheem']
list2=[25,30,35]

# ram age is 25
# robert age is 30
# raheem age is 35

for i in range(3):
    print("{} age is :{}".format(list1[i],list2[i]))

Ram age is :25
Robert age is :30
Raheem age is :35

In [161]:
list1=['Ram','Robert','Raheem']
list2=[25,30,35]

ValueError: not enough values to unpack (expected 2, got 1)

In [159]:
list1=[100,200,300]
list2=[25,30,35]

# o/p = [125,230,335]

output =[i+j for i,j in zip (list1,list2)]
output

[125, 230, 335]

In [171]:
# take 5 questions in list1
# take corresponding 5 answers in another list2
# iterate through list1
# every question should print
# answer=output("tell the answer")
# answerv will check in list
# if it is there : marks=marks+1
# else:no marks

# how many write answers you made,how many answers youn got

questions=['who is pm of india','what is the capital of india','who is president of india']
answer=['Modi','Delhi','Drupadi']
count=0
marks=0
correct_answer=0
for i in range(len(questions)):
    print(questions[i])
    answerss = input("enter the questions:").capitalize()
    if answerss==answer[i]:
        count=count+1

print(f'you answered {count} questions correctly')

who is pm of india
enter the questions:modi
what is the capital of india
enter the questions:delhi
who is president of india
enter the questions:drupadi
you answered 3 questions correctly