# $Strings$

- The strings are enclosed with single quotes or double quotes
  ('') or ("")
- Doc string is used to say information about python code
- Strings are used to represent text or charaters
- It is mutable we can change
- strings are immutable we cannot change the values by 
  using index operation
- strings can concatenated  using '+' operator

In [5]:
string1='Hello World'        # single quote
print(string1)

Hello World

In [3]:
string1="Hello World"         # double quotes
print(string1)

Hello World

- how to read the data
- single code ,double codes , triple codes
- doc strings
- type
- max
- min
- len
- addition of 2 strings(concatentation)
- multiplication
- substraction
- division
- in operator(for loop)
- index
- mutable condition
- slice
- string methods

### $type$

In [6]:
string1

'Hello World'

In [7]:
type(string1)

str

### $len$

- It finds length of the string
- It also count the space and symbols

In [21]:
str1='python'
print(str1)

python

In [22]:
len(str1)

6

### $max$

- It finds the maximum value of string by using ASCII
- ASCII = American Standered Code for Information Interchange
- The greatest value is called maximum

In [19]:
str1='python'
print(str1)

python

In [20]:
max(str1)

'y'

### $min$

- It finds the minimum value of string  by using ascii values
- The lowest value is called minimum

In [17]:
str1='python'
print(str1)

python

In [18]:
min(str1)

'h'

In [23]:
# ASSCII values for 'python'
 
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [41]:
# Now we find ascii values for a word.find max and min 

str1='lokesh'
for i in str1:
    print("The ascii value of {} is {}".format(i,ord(i)))
print("The max value {} is {}".format(str1,max(str1)))
print("The min value {} is {}".format(str1,min(str1)))

The ascii value of l is 108
The ascii value of o is 111
The ascii value of k is 107
The ascii value of e is 101
The ascii value of s is 115
The ascii value of h is 104
The max value lokesh is s
The min value lokesh is e

In [ ]:
for i in string.ascii_lowercase:
    print("the ascii value of {} is {}".format(i,ord(i)))

### $Concatention$

- concatenation means addition operation
- It uses the '+' operator
- But it cannot use  sub (-) , multi(*)  and division(/)
- It is only for sum operation
- Addition of two strings called concatention

In [42]:
str1='abcd'
str2='1234'
str1+str2

'abcd1234'

In [43]:
str1='123'
str2='abc'
str3='123abc'
str1+str2+str3

'123abc123abc'

### $index$

- index operator which is used to indexing the number to values
- it starts from zero 
- index is used to identife number of values

In [2]:
string1='python'

In [ ]:
p  y  t  h  o  n
0  1  2  3  4  5

In [5]:
string1[3]

'h'

In [6]:
string1[0],string1[1],string1[2],string1[3],string1[4],string1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [7]:
for i in range(len(string1)):
    print("the index of {} is {}".format(string1[i],i))

the index of p is 0
the index of y is 1
the index of t is 2
the index of h is 3
the index of o is 4
the index of n is 5

In [ ]:
-6  -5   -4  -3  -2   -1             # negative index

p    y    t   h   o    n

0    1    2   3   4    5             # positive index

In [8]:
# positive and negative index

for i in range(len(string1)):
    print("the negative index i {} and positive index {} for the letter is {}".format(i-6,i,string1[i]))

the negative index i -6 and positive index 0 for the letter is p
the negative index i -5 and positive index 1 for the letter is y
the negative index i -4 and positive index 2 for the letter is t
the negative index i -3 and positive index 3 for the letter is h
the negative index i -2 and positive index 4 for the letter is o
the negative index i -1 and positive index 5 for the letter is n

### $Mutable-immutable$

- mutable means we can change
- immutable means we cannot change
- we cannot change the values by using index operation

In [11]:
string1='python'
# i want p to P
# o/p: 'python'

string[o]='P'        # we cannot change using index operation

NameError: name 'string' is not defined

In [12]:
list1={10,20,30}
list1

{10, 20, 30}

In [13]:
list1=[100,200,300]
list1[0]=1000
list1             # it takes new value

[1000, 200, 300]

### $Slice$

- It allows you to specify the start, end,
- step is the step size 
- step means no of characters to skip b/w each extracted character

In [14]:
string1='hai,how are you'
string1[2:10]

'i,how ar'

In [15]:
string1[:]

# nothing mentioned means take start to end point

'hai,how are you'

In [16]:
string1[::]

# nothingf mentioned means here also take whole string and it takes skip value 1

'hai,how are you'

In [17]:
string1[:1]

'h'

In [21]:
string1[::7]

'h u'

## $Methods$


- capitalize
- upper
- lower
- index
- find
- count
- replace
- lstrip / rstrip / strip
- startswith / endswith
- isalpha / isnumeric  /isalnum
- split

### $capitalize$

- It converts the first character into uppercase or capital
- And all other characters to lowercase
- If the first of string is already then capitalize method is not applicable

In [24]:
string1='hello world'
string1.capitalize()

'Hello world'

### $upper-lower$

- uppercase means first letter of string is in capital
- lowercase means all letters in string must be in lowercase

In [25]:
string1.upper()

'HELLO WORLD'

In [26]:
string1.lower()

'hello world'

In [31]:
string1='hello world'
print(string1.capitalize())
print(string1.upper())
print(string1.lower())

Hello world
HELLO WORLD
hello world

### $count$

- It is used to count the no of letters in string

In [35]:
string1='hai hello how are you'
string1.count('o')

3

In [37]:
string1='jai sri ram'
string1.count('a')

2

In [39]:
string1='hai hai hai hai'
print(string1.count('ha'))
print(string1.count('hi'))
print(string1.count('hai'))

4
0
4

### $replace$

- by using this method we can change replace letter

In [40]:
string1='welcome'
string1.replace('l','L')        # replace 'l' with 'L'

'weLcome'

In [42]:
string1='restart'
string1.replace('r','$')        # replace 'r' with '$'

'$esta$t'

In [44]:
string1='restart'
string1.replace('r','$',1)

'$estart'

In [45]:
string1='restart'
string1.replace('r','$',-1)        # replace 'r' with '$'

'$esta$t'

In [48]:
string1='restart'
s1=string1[0]
s2=string1[1:].replace('r','$')  # replacing second 'r'
s1+s2

'resta$t'

### $index$

- index operator which is used to indexing the number to values
- it starts from zero 
- index is used to identife number of values

In [49]:
string1='welcome python'                        
string1.index('c')      # index of 'c'

3

In [50]:
string1='hai,how are you'

# how many 'a'

count=0
for i in string1:
    if i=='a':
        count=count+1
        
print(count)
string1.count('a')

2

2

### $find$

- By using this method we can find exact place of the letter

In [51]:
string1='welcome'
string1.find('o')

4

In [55]:
string1='hai how are you'
string1.find('u')

14

In [54]:
string1='hai how are you'
string1.find('o',6)

13

### $Strip-lstrip-rstrip$

- if want remove the spaces
- if we want to remove spaces both the sides use strip method
- if we want to remove spaces only left side then use left strip method
- if we want to remove spaces right side then use right strip method

In [56]:
str1='  hello how are you  '
str2='  hello how are you'
str3='hello how are you  '

In [58]:
print(str1.strip())
print(str2.lstrip())
print(str3.rstrip())

hello how are you
hello how are you
hello how are you

In [65]:
str1=' hai hello how are you    '
print(str1.lstrip())
print(str1.rstrip())
print(str1.strip())

hai hello how are you
 hai hello how are you
hai hello how are you

In [66]:
# example using find and index


# wap extract 
str1='python.anaconda@nareshit.com'
# extract first name python
# extract second name anaconda
# extract company name nareshit

str1.find('.')
str1[:str1.find('.')]

'python'

In [67]:
str1[0:6],str1[7:15],str1[16:24]
str1.find('.')

6

In [68]:
str1[0:6],str1[7:15],str1[16:24]

('python', 'anaconda', 'nareshit')

In [69]:
str1='lokesh.yadav@org.com'

In [70]:
str1[0:6],str1[7:12],str1[13:24]

('lokesh', 'yadav', 'org.com')

In [71]:
first_name=str1[0:str1.find('.')]
second_name=str1[str1.index('.')+1:str1.index('@')]
company_name=str1[str1.index('@')+1:str1.index('.',str1.index('.')+1)]
print("first name:",str1[0:6])
print("second name:",str1[7:12])
print("company name:",str1[13:24])

first name: lokesh
second name: yadav
company name: org.com

### $Startswith-Endswith$

- startswith & endswithis used to check whether a string starts with a given substring
- In startswith true if the string starts with the substring, and False otherwise
- In endswith true if the string ends with the substring, and False otherwise

In [72]:
str1='hai how are you'

In [73]:
str1.startswith('hai')

True

In [75]:
str1.endswith('are')

False

- isalnum
- isalpha
- isascii
- isdecimal
- isdigit
- isidentifier
- islower
- isnumeric
- isprintable
- isspace
- istitle
- isupper

In [76]:
string1='abc'
string1.isalpha()

True

In [77]:
string1='abc'
string1.isnumeric()

False

In [78]:
string1='abc123'
string1.isalnum()

True

In [79]:
string1='abc123'
string1.isidentifier()

True

In [80]:
string1='ABC'
string1.istitle()

False

### $Split$

- The split method is used to split a string into a list of substrings

In [81]:
str1='hai how are you'
str1.split()

['hai', 'how', 'are', 'you']

In [82]:
str1='hai how , are you'
str1.split(',')

['hai how ', ' are you']

In [83]:
str1='hai how,are you'
str1.split('a')         #h i how,re you

['h', 'i how,', 're you']